<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if layout.name == "post" -%}
          Comments are welcome by <a class="u-email" href="mailto:{{ site.email }}?subject=Comment on {{ page.title }}">email</a>, corrections on <a href="https://github.com/numist/numi.st/blob/main/{{ page.path }}">GitHub</a>.
        {%- else -%}
          You are browsing the public memory bank of Scott Perry, corrections welcome on <a href="https://github.com/numist/numi.st/blob/main/{{ page.path }}">GitHub</a>.
        {%- endif -%}
      </div>
      <!-- <div class="footer-col">
        {%- include social.html -%}
      </div> -->
  </div>

</footer>
