<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col">
          Comments are welcome by <a class="u-email" href="mailto:{{ site.email }}?subject=Comment on: {{ page.title }}">email</a>, corrections on <a href="https://github.com/numist/numi.st/blob/main/{{ page.path }}" target="_self">GitHub</a>
      </div>
      <div class="footer-col" style="float: right;">
        <a href="/license">
          <img style="width: 1em; height: auto;" src="/assets/img/cc.svg" alt="Non-Commerical">
          <img style="width: 1em; height: auto;" src="/assets/img/attribution.svg" alt="Non-Commerical">
          <img style="width: 1em; height: auto;" src="/assets/img/nc.svg" alt="Non-Commerical">
        </a>
      </div>
  </div>

</footer>
