<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
  {% if page.name == "blog.md" %}
  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="numist log">
  {% endif %}

  <script src="{{ "/assets/js/newsfoot.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/a.external.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/masonry.pkgd.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="/assets/css/newsfoot.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css">
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
</head>
