<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
  {% if page.name == "blog.md" %}
  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="numist log">
  {% endif %}

  <script src="{{ "/assets/js/jquery-3.6.0.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/masonry.pkgd.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/anchor.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/a.external.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/footnotes.js" | relative_url }}"></script>
  <script async src="{{ "/assets/js/abbr.js" | relative_url }}"></script>

  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
