<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
  {% if page.name == "index.md" %}
  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="numist log">
  {% endif %}

  <script src="/assets/js/newsfoot.js" defer></script>
  <script src="/assets/js/a.external.js"></script>
  <link rel="stylesheet" href="/assets/css/newsfoot.css">
</head>
