<figure class="figure hdrjpg" {% if photo.mp4 %}data-mp4-src="{{ photo.mp4 }}"{% endif %}>
    <picture class="figure-img">
        {% if photo.hdr %}
        <source srcset="{{ photo.hdr }}" media="all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) {}" type="image/avif" /> 
        {% endif %}
        <img src="{{ photo.sdr }}" {% if photo.description %} alt="{{ photo.description }}"{% endif %} style="image-rendering: -webkit-optimize-contrast;">
    </picture>
    <figcaption class="figure-caption text-end">
        <span style="white-space: nowrap;">Taken at ɪsᴏ {{ photo.iso }}, {{ photo.mm }} mm, ƒ/{{ photo.av }}, {{ photo.tv }} s</span>
        {% if photo.date %}
            <span style="white-space: nowrap;">
                {% assign date_format = "%-d %B %Y" %}
                {% assign time = photo.date | date: date_format %}
                on <time datetime="{{ photo.date | date_to_xmlschema }}">{{ time }}</time>
            </span>
        {% endif %}
        {% if photo.location and photo.location.string %}
            <span style="white-space: nowrap;">
                in
                {% if photo.location.lat and photo.location.long %}
                    <a href="https://www.openstreetmap.org/?mlat={{ photo.location.lat }}&mlon={{ photo.location.long }}#map=18/{{ photo.location.lat }}/{{ photo.location.long }}">
                {% endif %}
                {{ photo.location.string }}
                {% if photo.location.lat and photo.location.long %}
                    </a>
                {% endif %}
            </span>
        {% endif %}
        <span style="white-space: nowrap;">
            (<a href="{{ photo.sdr }}">SDR</a>
            {%- if photo.hdr -%}, <a href="{{ photo.hdr }}">HDR</a>{%- endif -%}
            {%- if photo.raw -%}, <a href="{{ photo.raw }}">RAW</a>{%- endif -%}
            , <a href="http://100.91.17.95:4000/license/">ⓒ</a>)
        </span>
    </figcaption>
</figure>

<!--
if (
    'MozAppearance' in document.documentElement.style /* Target Firefox */
    ||
    /^((?!chrome|android).)*safari/i.test(navigator.userAgent) /* Target Safari */
) {
    document.querySelectorAll('.hdrjpg[data-mp4-src]').forEach((element) => {
        element.querySelector('picture').remove();
        let video = document.createElement('video');
        video.src = element.dataset.mp4Src;
        video.muted = true;
        element.appendChild(video);
    });
}
-->