/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-variant-numeric: oldstyle-nums;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.ordinal {
  font-variant-numeric: ordinal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, .card,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: $base-font-weight; // 300
}

.anchorjs-link {
  transition: all .25s ease-in-out;
}
*:hover > .anchorjs-link {
  margin-left: -1.375em !important;
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



// TODO: test tables
/**
 * Tables
 */
table {
  font-variant-numeric: tabular-nums slashed-zero;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}


/**
 * Icons
 */

.cc-icon {
    width: 16px;
    height: 16px;
    fill: #{$grey-color};
    display: inline-block;
}

.social-svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    vertical-align: text-top;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &.external {
    background-image: url("/assets/img/icons8-external-link.svg");
    background-position-x: right;
    background-position-y: center;
    background-size: 0.9em;
    padding-right: 0.95em;
    background-repeat: no-repeat;
  }
}


/**
 * Blockquotes
 */

blockquote {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .375rem;
  background-color: #f7f7f7;
  color: darken($grey-color, 20%);
  :last-child {
      margin-bottom: 0;
  }
  :first-child {
      margin-top: 0;
  }
  border-left: .25rem solid lighten(blue, 40%);
}

blockquote blockquote {
  border-left-color: lighten(green, 40%);
  padding: 0rem 1rem;
}

blockquote blockquote blockquote {
  border-left-color: lighten(black, 40%);
}

cite {
  display: block;
  text-align: right;
  color: lighten($grey-color, 20%);
  font-style: italic;
}

.date-right {
  display: inline;
  float: right;
  color: lighten($grey-color, 20%);
  font-style: italic;
}


/**
 * Graphviz diagrams
 */

svg.graphviz {
  font-variant-numeric: tabular-nums slashed-zero;
  margin-bottom: calc($spacing-unit / 2);
  padding: 16px;
  overflow: auto;
  border-radius: .5rem;
  border: 1px solid $grey-color-light;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Code formatting
 */
@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

pre,
code {
  font-family: 'Fira Code', monospace;
  border: 1px solid $grey-color-light;
}
code,
tt {
  padding: .1em .2em;
  margin: 0;
  background-color: rgba(175,184,193,0.2);
  border-radius: 0.25em;
}

code br,
tt br {
  display: none;
}

del code {
  text-decoration: inherit;
}

.highlight {
  margin-bottom: calc($spacing-unit / 2);
  max-height: 80vh;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.highlight pre,
pre {
  padding: 16px;
  overflow: auto;
  font-size: $small-font-size;
  font-variant-numeric: slashed-zero;
  line-height: 1.45;
  border-radius: .5rem;
  
  >code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

.list-group-item .highlight {
  margin-bottom: 0;
  background: transparent;
}
.list-group-item .highlight pre {
  border-width: 0;
  padding: 0;
  border: 0;
}

pre code,
pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}


/*
 * Footnotes
 */

.footnote-container {
  font-size: $small-font-size;
  position: sticky;
  top: 0;
  color: $grey-color;

  ol li {
    padding-right: calc($spacing-unit/3);

    p {
      margin-bottom: 1em;
    }
  }
}

.footnote {
  text-decoration: none;
}

.reversefootnote {
  visibility: hidden;
  text-decoration: none;
}

.popover {
  font: inherit;
  font-size: 0.9em;
}

.popover-body {
  color: $grey-color-dark;
  padding: 1em;

  > :last-child {
    margin-bottom: 0;
  }
}


/*
 * Abbreviations
 */
abbr[data-content] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}


/*
 * Miscellaneous
 */
.placeholder-text {
  color: #6c757d;
}
::placeholder {
  color: #6c757d;
}

/*
 * Copyable content
 */
.copyable {
  position: relative;
  .copy-button {
    position: absolute;
    top: .75em;
    right: .75em;
  }
}
.copyable .btn-outline-secondary:not(:hover) {
  background: #ffffff;
}

// Code blocks only show button on hover
.highlight .copy-button {
  transition: visibility 0s, opacity 0.2s linear;
  opacity: 0;
}
.highlight:hover .copy-button {
  opacity: 1;
}

// Used by tool/link-to-text-fragment.md
.copyable.form-group {
  display: flex;
  align-items: center; /* Vertically */

  .form-control {
    width: auto; /* Override Bootstrap's `width: 100%` on .form-control */
    flex-grow: 1; /* Allows the element to expand and fill the available space */
  }

  .copy-button {
    position: static;
    flex-shrink: 0;
    margin-left: 10px;
  }
}
