/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-variant-numeric: oldstyle-nums;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.ordinal {
  font-variant-numeric: ordinal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: 300;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Tables
 */
table {
  font-variant-numeric: tabular-nums slashed-zero;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}



/* Keepin' these: */


/**
 * Icons
 */

.cc-icon {
    width: 16px;
    height: 16px;
    fill: #{$grey-color};
    display: inline-block;
}

.social-svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    vertical-align: text-top;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  &.external {
    background-image: url("/assets/img/icons8-external-link.svg");
    background-position-x: right;
    background-position-y: center;
    background-size: 0.9em;
    padding-right: 0.95em;
    background-repeat: no-repeat;
  }
}


/**
 * Blockquotes
 */

blockquote {
  border-left: 3px solid lighten(blue, 40%);
}

blockquote blockquote {
  border-left: 3px solid lighten(green, 40%);
  float: none; // Cancel out the `float: right;` of the parent so the <cite> will locate correctly
}

blockquote blockquote blockquote {
  border-left: 3px solid lighten(black, 40%);
}

blockquote {
  color: $grey-color;
  padding: 0px $spacing-unit / 3;
  letter-spacing: -0.3px;

  float: left;

  > :last-child {
    margin-bottom: 0;
  }
}

cite {
	display: block;
  float: right;
  color: lighten($grey-color, 20%);
	font-style: italic;
}

svg.graphviz {
  font-variant-numeric: tabular-nums slashed-zero;
  margin-bottom: $spacing-unit / 2;
  padding: 16px;
  overflow: auto;
  border-radius: 6px;
  border: 1px solid $grey-color-light;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Code formatting
 */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

pre,
code {
  border: 1px solid $grey-color-light;
}
code,
tt {
  padding: .1em .2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 0.2em;
}

code br,
tt br {
  display: none;
}

del code {
  text-decoration: inherit;
}

pre code {
  font-size: 100%;
}

.highlight {
  margin-bottom: $spacing-unit / 2;
  max-height: 80vh;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.highlight pre,
pre {
  padding: 16px;
  overflow: auto;
  font-size: 80%;
  font-variant-numeric: slashed-zero;
  line-height: 1.45;
  border-radius: .5em;
  
  >code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

pre code,
pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

/*
 * Footnotes
 */

.footnote-container {
  font-size: 0.75em;
  position: sticky;
  top: 0;
  color: $grey-color;
}

.footnote {
  text-decoration: none;
}

.reversefootnote {
  visibility: hidden;
  text-decoration: none;
}

.popover {
  font: inherit;
  font-size: 0.9em;
}

.popover-body {
  color: $grey-color-dark;
  padding: 1em;

  > :last-child {
    margin-bottom: 0;
  }
}

/*
 * Abbreviations
 */
abbr[data-content] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
