// https://bootsnipp.com/snippets/yNK5E

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: .375rem;
    background-color: white;
    border: .125rem solid #6c757d;
    :last-child {
        margin-bottom: 0;
    }
    h4 {
        color: #6c757d;
    }
}

.bd-callout+.bd-callout {
    margin-top: -.25rem;
}

.bd-callout-info {
    border-color: #5bc0de;
    h4 {
        color: #5bc0de;
    }
}

.bd-callout-warning {
    border-color: #f0ad4e;
    h4 {
        color: #f0ad4e;
    }
}

.bd-callout-danger {
    border-color: #d9534f;
    h4 {
        color: #d9534f;
    }
}

.bd-callout-primary{
    border-color: #007bff;
    h4 {
        color: #007bff;
    }
}

.bd-callout-success{
    border-color: #28a745;
    h4 {
        color: #28a745;
    }
}
