pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight { background: #FFFFFF; color:#929292 }
.highlight .hll { background-color:#EFEFEF }
.highlight .c { color: #57B550;  font-style: italic } /* Comment */
.highlight .err { background: #C82829; color:#FFFFFF } /* Error */
.highlight .k { color:#8959A8 } /* Keyword */
.highlight .l { color:#F5871F } /* Literal */
.highlight .n { color:#929292 } /* Name */
.highlight .o { color:#545454 } /* Operator */
.highlight .p { color:#B9B9B9 } /* Punctuation */
.highlight .ch { color: #77A570 } /* Comment.Hashbang */
.highlight .cm { color: #57B550;  font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #A28265 } /* Comment.Preproc */
.highlight .cpf { color: #57B550 } /* Comment.PreprocFile */
.highlight .c1 { color: #57B550;  font-style: italic } /* Comment.Single */
.highlight .cs { color: #57B550;  font-style: italic } /* Comment.Special */
.highlight .gd { color:#C82829 } /* Generic.Deleted */
.highlight .ge { font-style:italic } /* Generic.Emph */
.highlight .gh { color: #545454; font-weight:bold } /* Generic.Heading */
.highlight .gi { color:#718C00 } /* Generic.Inserted */
.highlight .gp { color: #718C00; font-weight:bold } /* Generic.Prompt */
.highlight .gs { font-weight:bold } /* Generic.Strong */
.highlight .gu { color: #3E999F; font-weight:bold } /* Generic.Subheading */
.highlight .kc { color:#8959A8 } /* Keyword.Constant */
.highlight .kd { color:#8959A8 } /* Keyword.Declaration */
.highlight .kn { color:#3E999F } /* Keyword.Namespace */
.highlight .kp { color:#4271AE } /* Keyword.Pseudo */
.highlight .kr { color:#8959A8 } /* Keyword.Reserved */
.highlight .kt { color:#EAB700 } /* Keyword.Type */
.highlight .ld { color:#718C00 } /* Literal.Date */
.highlight .m { color:#F5871F } /* Literal.Number */
.highlight .s { color:#718C00 } /* Literal.String */
.highlight .na { color:#4271AE } /* Name.Attribute */
.highlight .nb { color:#4271AE } /* Name.Builtin */
.highlight .nc { color:#EAB700 } /* Name.Class */
.highlight .no { color:#EAB700 } /* Name.Constant */
.highlight .nd { color:#3E999F } /* Name.Decorator */
.highlight .ni { color:#545454 } /* Name.Entity */
.highlight .ne { color:#C82829 } /* Name.Exception */
.highlight .nf { color:#4271AE } /* Name.Function */
.highlight .nl { color:#545454 } /* Name.Label */
.highlight .nn { color:#EAB700 } /* Name.Namespace */
.highlight .nx { color:#4271AE } /* Name.Other */
.highlight .py { color:#545454 } /* Name.Property */
.highlight .nt { color:#3E999F } /* Name.Tag */
.highlight .nv { color:#C82829 } /* Name.Variable */
.highlight .ow { color:#3E999F } /* Operator.Word */
.highlight .w { color:#545454 } /* Text.Whitespace */
.highlight .mb { color:#F5871F } /* Literal.Number.Bin */
.highlight .mf { color:#F5871F } /* Literal.Number.Float */
.highlight .mh { color:#F5871F } /* Literal.Number.Hex */
.highlight .mi { color:#F5871F } /* Literal.Number.Integer */
.highlight .mo { color:#F5871F } /* Literal.Number.Oct */
.highlight .sa { color:#C41A16 } /* Literal.String.Affix */
.highlight .sb { color:#718C00 } /* Literal.String.Backtick */
.highlight .sc { color:#545454 } /* Literal.String.Char */
.highlight .dl { color:#C41A16 } /* Literal.String.Delimiter */
.highlight .sd { color:#929292 } /* Literal.String.Doc */
.highlight .s2 { color:#718C00 } /* Literal.String.Double */
.highlight .se { color:#F5871F } /* Literal.String.Escape */
.highlight .sh { color:#718C00 } /* Literal.String.Heredoc */
.highlight .si { color:#F5871F } /* Literal.String.Interpol */
.highlight .sx { color:#718C00 } /* Literal.String.Other */
.highlight .sr { color:#718C00 } /* Literal.String.Regex */
.highlight .s1 { color:#718C00 } /* Literal.String.Single */
.highlight .ss { color:#718C00 } /* Literal.String.Symbol */
.highlight .bp { color:#545454 } /* Name.Builtin.Pseudo */
.highlight .fm { color:#333333 } /* Name.Function.Magic */
.highlight .vc { color:#C82829 } /* Name.Variable.Class */
.highlight .vg { color:#C82829 } /* Name.Variable.Global */
.highlight .vi { color:#C82829 } /* Name.Variable.Instance */
.highlight .vm { color:#333333 } /* Name.Variable.Magic */
.highlight .il { color:#F5871F } /* Literal.Number.Integer.Long */
