---
layout: default
---
<div class="container" style="margin: 0px; max-width: 98%;">
  <div class="row">
      <div class="offset-md-2 offset-lg-3 col-md-8 col-lg-6">
          <article class="post">
            {%- if page.title and page.showtitle != false -%}
            <header class="post-header">
              <h1 class="post-title" itemprop="name headline">{{ page.title | smartify | markdownify | remove: '<p>' | remove: '</p>' | strip }}</h1>
            </header>
            {%- endif -%}
            <aside class="d-none d-lg-block col-lg-3">
              <!-- TODO: what is this doing here -->
            </aside>  
            <div class="post-content">
              {{ content }}
            </div>
          </article>
      </div>
      <aside class="footnote-container d-none d-lg-block col-lg-3"></aside>  
  </div>
</div>
